.rating-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.overall-rating {
    font-size: 40px;
    font-weight: bold;
}

.star-rating {
    display: flex;
    align-items: center;
}

.star-filled {
    color: #FFED4F;
}

.people-rated {
    margin-top: 10px;
    font-size: 18px;
}

.bar-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 2;
}

.rating-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.rating-bar-label {
    margin-left: 30px;
    width: 70px;
}

.rating-bar .colored-bar {
    position: absolute;
    height: 16.57px;
    background: #FFED4F;
    border-radius: 41.4179px;
}

.rating-bar .total-bar {
    width: 283.71px;
    height: 16.57px;
    background: #DBDBDB;
    border-radius: 41.4179px;
}