.carousel-container {
    display: flex;
    margin: 30px 50px;
    position: relative;
    overflow: hidden;
}

.carousel-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
    list-style: none;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.carousel-item {
    background: #ffed4f;
    border-radius: 14px;
    width: 160px;
    height: 220px;
    flex-shrink: 0;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

.carousel-button {
    font-size: 24px;
    background-color: var(--primary);
    opacity: 0.6;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    border-color: var(--primary);
    color: #292d32;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.prev-button::before,
.next-button::before {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #292d32;
    border-right: 2px solid #292d32;
    transform: rotate(45deg);
}

.next-button::before {
    transform: rotate(-135deg);
}