button {
    font-size: 24px;
    background-color: var(--primary);
    opacity: 0.6;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    border-color: var(--primary);
    color: #292D32;
    cursor: pointer;
}