* {
    font-family: 'Poppins';
}

.container {
    display: flex;
    padding-top: 5%;
}

.column {
    padding: 20px;
    border: 1px solid #000;
}

.column:first-child {
    display: flex;
    flex: 30%;
    padding: 20px 20px 20px 10px;
    width: 236px;
    height: 740px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-right: 30px;
}

ul {
    list-style-type: none;
}

#fav,
#my-profile,
#acc-info,
#acc-settings {
    text-decoration: underline;
    color: #000;
}

#del-acc {
    color: var(--primary);
    text-decoration: none;
}

.column:last-child {
    flex: 70%;
    border: none;
}

.delete-col {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

.sub-col-text {
    font-size: 18px;
    font-weight: 600;
}

.del-text, .btn, .para {
    display: flex;
    flex-direction: row;
}

#btn-radio {
    width: 20px;
    height: 20px;
    
}
