.form-control {
    width: 415px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.btn-sm {
    height: 45px;
    margin-bottom: 10px;
}

.btn-sm:hover {
    background-color: var(--primary);
}

.bi-eye-slash-fill, .bi-eye-fill{
    margin-top: 10px;
}