* {
    font-family: 'Poppins';
}

.forgot-pass-pg-row {
    display: flex;
    height: 100vh;
}

.forgot-pass-pg-cl1 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#logo-div {
    display: flex;
}

#logo-div-cl1,
#logo-div-cl2 {
    display: flex;
    flex-direction: column;
}

#logo-sm {
    width: 63px;
    height: 63px;
    left: 0px;
    top: 0px;
}

#logo-text {
    line-height: 60px;
    text-decoration: none;
    color: black;
}

#forgot-pass-text,
.forgot-pass-form,
.btn,
#forgot-pass-p1 {
    align-self: center;
}

#forgot-pass-text {
    margin-top: 10%;
    width: 415px;
}

#forgot-pass-hd {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
}

#forgot-pass-p1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
    opacity: 0.6;
}

#registered-email {
    width: 415px;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#l-email-forgot-pg {
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

::placeholder {
    color: black;
    opacity: 0.6;
}

.remember-pass-div {
    margin-top: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: rgba(0, 0, 0, 0.6);
}

#remember-pass{
    color: var(--primary);
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}


#btn-gradient {
    margin-top: 10px;
}

.forgot-pass-pg-cl2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
}

#logo-lg {
    width: 180.42px;
    height: 180.42px;
}

#logo-tagline {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 0px;
}