#btn-gradient {
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: linear-gradient(270deg, #FFE500 0%, #FCA28F 111.72%);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}

#google-svg {
    width: 24.78px;
    height: 30px;
}