* {
    font-family: 'Poppins';
}

.email-sent-pg-row {
    display: flex;
    height: 100vh;
}

.email-sent-pg-cl1 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#logo-div {
    display: flex;
}

#logo-div-cl1,
#logo-div-cl2 {
    display: flex;
    flex-direction: column;
}

.logo-sm {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-top: 10px;
}

.logo-text {
    line-height: 85px;
    text-decoration: none;
    color: black;
}

#email-sent-text,
.btn,
#email-sent-p1 {
    align-self: center;
}

#email-sent-text {
    margin-top: 20%;
    width: 415px;
}

#email-sent-hd {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
}

#email-sent-p1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
    opacity: 0.6;
}

.resend-pass-div {
    margin-top: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

#resend-pass{
    color: var(--primary);
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}


#btn-gradient {
    margin-top: 10px;
}

.email-sent-pg-cl2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
}

#logo-lg {
    width: 180.42px;
    height: 180.42px;
}

#logo-tagline {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 0px;
}