img {
    border-radius: 10px;
}

.homepage-headings {
    margin-left: 50px; 
    margin-top: 50px;
    font-weight: 700;
}

.homepage-hr {
    margin-left: 3em;
    margin-right: 3em;
    opacity: 0.6;
    border: 2px solid #000000;
}

.col {
    display: flex;
}