img {
    border-radius: 10px;
}

.homepage-headings {
    margin-left: 50px; 
    margin-top: 50px;
    font-weight: 700;
}

.homepage-hr {
    margin-left: 3em;
    margin-right: 3em;
    opacity: 0.6;
    border: 2px solid #000000;
}

.pizza-category, .burger-category, .pizza-deal,
.burger-deal, .side-deal, .special-deal, .pasta-deal, .add-ons-deal {
    display: flex;
    flex-direction: row;
}

.pizza-category, .sandwich-platter-deal {
    display: flex;
    flex-direction: column;
}

.pizza-col-1, .pizza-col-2, .pizza-col-3, .sandwich-col-1, .sandwich-col-2 {
    display: flex;
    flex-direction: row;
}

.add-ons-deal {
    margin-bottom: 50px;
}